@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f7fb;
}
